h1{
    text-align: center;
    color: grey;
}

.planets{
    display: grid;
    margin: auto;
    max-width: 1200px;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .planets{
        grid-template-columns: repeat(2,1fr);
    }
 }

.Earth{
    color:gray;
}

body{
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Econt{
    font-weight:700;
}

.Mec{
    color: grey;
}

img{
    transition: all .2s ease-in-out; 
    width: 250px;
    height: 250px;
}
img:hover { 
    
    transform: scale(1.2); 
}



h2{
    color: white;
}

